### Deliverable 3: Optimize the Model

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("./Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#optimization attempt dropping multiple columns
application_df = application_df.drop(["EIN","NAME","SPECIAL_CONSIDERATIONS"],1)

C:\Users\Shami\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [3]:
# Look at APPLICATION_TYPE value counts for binning
app_count= application_df.APPLICATION_TYPE.value_counts()
app_count

# Determine which values to replace if counts are less than ...?
replace_application = list(app_count[app_count < 500].index)

# Replace in dataframe
for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [4]:
# Look at CLASSIFICATION value counts for binning
class_= application_df.CLASSIFICATION.value_counts()
class_

# Determine which values to replace if counts are less than ..?
replace_class = list(class_[class_ < 500].index)

# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [5]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
application_cat

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT']

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

C:\Users\Shami\anaconda3\envs\mlenv\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [7]:
# Merge one-hot encoded features and drop the originals

application_df = application_df.merge(encode_df,left_index=True, right_index=True)
application_df = application_df.drop(columns = application_cat)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [8]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

C:\Users\Shami\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [9]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [10]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#optimization attempt added layer 3 & changing activation type
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 30
#hidden_nodes_layer3 = 20

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)


# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Third hidden layer
#nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3440

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,901
Trainable params: 5,901
Non-trainable params: 0
_________________________________________________________________

In [11]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [12]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=10)

Epoch 1/10
804/804 [==============================] - 1s 909us/step - loss: 78911.2109 - accuracy: 0.4968
Epoch 2/10
804/804 [==============================] - 1s 895us/step - loss: 56783.2656 - accuracy: 0.48450s - loss: 51101.8477 - accuracy:
Epoch 3/10
804/804 [==============================] - 1s 800us/step - loss: 53309.6445 - accuracy: 0.5054
Epoch 4/10
804/804 [==============================] - 1s 931us/step - loss: 8013.9858 - accuracy: 0.5147 0s - loss: 15246.9160 -
Epoch 5/10
804/804 [==============================] - 1s 757us/step - loss: 31665.6992 - accuracy: 0.5005
Epoch 6/10
804/804 [==============================] - 1s 815us/step - loss: 22700.6445 - accuracy: 0.4881 - loss: 3534.068
Epoch 7/10
804/804 [==============================] - 1s 814us/step - loss: 25535.2617 - accuracy: 0.51320s - loss: 26452.3027 - accura
Epoch 8/10
804/804 [==============================] - 1s 802us/step - loss: 10961.8096 - accuracy: 0.5131
Epoch 9/10
804/804 [==============================] - 1s 842us/step - loss: 10380.5664 - accuracy: 0.5096s - loss: 655.8585 -
Epoch 10/10
804/804 [==============================] - 1s 825us/step - loss: 9606.9424 - accuracy: 0.5240

In [13]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 1.0112 - accuracy: 0.5851 - 309ms/epoch - 1ms/step
Loss: 1.0111838579177856, Accuracy: 0.5850728750228882

## Checkpoints

In [14]:
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

In [15]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Create a callback that saves the model's weights every 5 epochs
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq='epoch')

# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=20,callbacks=[cp_callback])

# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/20
784/804 [============================>.] - ETA: 0s - loss: 0.5788 - accuracy: 0.7169
Epoch 00001: saving model to checkpoints\weights.01.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5794 - accuracy: 0.7172
Epoch 2/20
787/804 [============================>.] - ETA: 0s - loss: 0.5577 - accuracy: 0.7293 ETA: 0s - loss: 0.5784 - accuracy: 0. - ETA: 0s - loss: 0.563 - ETA: 0s - loss: 0.5576 - accuracy:
Epoch 00002: saving model to checkpoints\weights.02.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5575 - accuracy: 0.7293
Epoch 3/20
793/804 [============================>.] - ETA: 0s - loss: 0.5577 - accuracy: 0.7278
Epoch 00003: saving model to checkpoints\weights.03.hdf5
804/804 [==============================] - 1s 904us/step - loss: 0.5576 - accuracy: 0.7280
Epoch 4/20
761/804 [===========================>..] - ETA: 0s - loss: 0.5533 - accuracy: 0.7332
Epoch 00004: saving model to checkpoints\weights.04.hdf5
804/804 [==============================] - 1s 913us/step - loss: 0.5549 - accuracy: 0.7320
Epoch 5/20
769/804 [===========================>..] - ETA: 0s - loss: 0.5512 - accuracy: 0.7316 ETA: 0s - loss: 0.5498 - accuracy:  - ETA: 0s - loss: 0.5512 - accuracy: 0.73
Epoch 00005: saving model to checkpoints\weights.05.hdf5
804/804 [==============================] - 1s 945us/step - loss: 0.5518 - accuracy: 0.7311
Epoch 6/20
775/804 [===========================>..] - ETA: 0s - loss: 0.5508 - accuracy: 0.7308
Epoch 00006: saving model to checkpoints\weights.06.hdf5
804/804 [==============================] - 1s 890us/step - loss: 0.5513 - accuracy: 0.7307
Epoch 7/20
793/804 [============================>.] - ETA: 0s - loss: 0.5522 - accuracy: 0.7321
Epoch 00007: saving model to checkpoints\weights.07.hdf5
804/804 [==============================] - 1s 912us/step - loss: 0.5524 - accuracy: 0.7320
Epoch 8/20
786/804 [============================>.] - ETA: 0s - loss: 0.5477 - accuracy: 0.7330
Epoch 00008: saving model to checkpoints\weights.08.hdf5
804/804 [==============================] - 1s 920us/step - loss: 0.5482 - accuracy: 0.7324
Epoch 9/20
771/804 [===========================>..] - ETA: 0s - loss: 0.5483 - accuracy: 0.7330
Epoch 00009: saving model to checkpoints\weights.09.hdf5
804/804 [==============================] - 1s 939us/step - loss: 0.5490 - accuracy: 0.7324
Epoch 10/20
788/804 [============================>.] - ETA: 0s - loss: 0.5480 - accuracy: 0.7327
Epoch 00010: saving model to checkpoints\weights.10.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5477 - accuracy: 0.7332
Epoch 11/20
797/804 [============================>.] - ETA: 0s - loss: 0.5472 - accuracy: 0.7331
Epoch 00011: saving model to checkpoints\weights.11.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5469 - accuracy: 0.7334
Epoch 12/20
799/804 [============================>.] - ETA: 0s - loss: 0.5479 - accuracy: 0.7335
Epoch 00012: saving model to checkpoints\weights.12.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5479 - accuracy: 0.7334
Epoch 13/20
772/804 [===========================>..] - ETA: 0s - loss: 0.5473 - accuracy: 0.7332
Epoch 00013: saving model to checkpoints\weights.13.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5461 - accuracy: 0.7345
Epoch 14/20
770/804 [===========================>..] - ETA: 0s - loss: 0.5452 - accuracy: 0.7342 ETA: 0s - loss: 0.5465 - ac
Epoch 00014: saving model to checkpoints\weights.14.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5453 - accuracy: 0.7338
Epoch 15/20
764/804 [===========================>..] - ETA: 0s - loss: 0.5454 - accuracy: 0.7346
Epoch 00015: saving model to checkpoints\weights.15.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5456 - accuracy: 0.7345
Epoch 16/20
761/804 [===========================>..] - ETA: 0s - loss: 0.5449 - accuracy: 0.7346
Epoch 00016: saving model to checkpoints\weights.16.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5448 - accuracy: 0.7345
Epoch 17/20
771/804 [===========================>..] - ETA: 0s - loss: 0.5448 - accuracy: 0.7358
Epoch 00017: saving model to checkpoints\weights.17.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5450 - accuracy: 0.7354
Epoch 18/20
767/804 [===========================>..] - ETA: 0s - loss: 0.5443 - accuracy: 0.7368
Epoch 00018: saving model to checkpoints\weights.18.hdf5
804/804 [==============================] - 1s 930us/step - loss: 0.5440 - accuracy: 0.7369
Epoch 19/20
752/804 [===========================>..] - ETA: 0s - loss: 0.5448 - accuracy: 0.7347
Epoch 00019: saving model to checkpoints\weights.19.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7352
Epoch 20/20
775/804 [===========================>..] - ETA: 0s - loss: 0.5444 - accuracy: 0.7345
Epoch 00020: saving model to checkpoints\weights.20.hdf5
804/804 [==============================] - 1s 933us/step - loss: 0.5437 - accuracy: 0.7351
268/268 - 0s - loss: 0.5524 - accuracy: 0.7275 - 268ms/epoch - 999us/step
Loss: 0.5523744225502014, Accuracy: 0.7274635434150696

In [17]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")